{% extends 'base.html.twig' %}

{% block title %}
    Coucou
{% endblock %}

{% block body %}
    <div>
        <h3>Filtrer les sorties</h3>
        <label for="campusChoice">Campus</label>
        <select name="campusChoice" id="campusChoice">
            {% for campus in campusList %}
                <option id="{{ campus.id }}">{{ campus.nom }}</option>
            {% endfor%}
        </select>
    </div>
{% endblock %}